.Background {
  background-color: rgb(235, 235, 253);
}
.Navbar_Color {
  background-color: white;
}
.cart_image {
  height: 200px;
  object-fit: contain;
}
.bodysize {
  margin-bottom: 20px;
}

.textlimit {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.background {
  background-color: darkgray;
}
